MYSQL_DATABASE=biblioteca
MYSQL_USER=aluno
MYSQL_PASSWORD=aluno123
MYSQL_ROOT_PASSWORD=root123
RABBITMQ_USER=fila
RABBITMQ_PASSWORD=fila123
DB_HOST=mysql
REDIS_HOST=redis
RABBITMQ_HOST=rabbitmq
API_PORT=3000
