# Porta em que a API responde dentro do container
PORT=3000

# Conexao com o MySQL
# Dentro do Docker o host e o NOME DO SERVICO do compose (db)
DB_HOST=db
DB_PORT=3306
DB_USER=estoque
DB_PASSWORD=estoque123
DB_NAME=estoque_db

# Senha do usuario root do MySQL (usada apenas pelo container do banco)
DB_ROOT_PASSWORD=root123

# Porta do MySQL exposta no HOST (mude se a 3308 ja estiver ocupada)
DB_HOST_PORT=3308
