MYSQL_DATABASE=helpdesk
MYSQL_USER=helpdesk
MYSQL_PASSWORD=helpdesk123
MYSQL_ROOT_PASSWORD=roothelp123
RABBITMQ_USER=events
RABBITMQ_PASSWORD=events123
DB_HOST=mysql
REDIS_HOST=redis
RABBITMQ_HOST=rabbitmq
